In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
names = []
phones = []
emails = []
websites = []

page_num = input("Enter a number: ")
for i in range(1, int(page_num)+1):
    url = "https://www.dica.gov.mm/en/myindy/private-enterprises?page="+str(i)
    req = requests.get(url)
    content = BeautifulSoup(req.content, 'html.parser')
#     print(content)
    name = content.find_all('div',{'class':'company-name'})
    phone = content.find_all('div', {'class':"company-phone"})
    email = content.find_all('div', {'class':'company-email'})
    website = content.find_all('div', {'class', 'company-website'})
    print('Name in company'+str(i))
    print(len(name))
    
    for i in name:
        names.append(i.text)
    for i in phone:
        phones.append(i.text)
    for i in email:
        emails.append(i.text)
    for i in website:
        websites.append(i.text)

Enter a number: 40
Name in company1
6
Name in company2
6
Name in company3
6
Name in company4
6
Name in company5
6
Name in company6
6
Name in company7
6
Name in company8
6
Name in company9
6
Name in company10
6
Name in company11
6
Name in company12
6
Name in company13
6
Name in company14
6
Name in company15
6
Name in company16
6
Name in company17
6
Name in company18
6
Name in company19
6
Name in company20
6
Name in company21
6
Name in company22
6
Name in company23
6
Name in company24
6
Name in company25
6
Name in company26
6
Name in company27
6
Name in company28
6
Name in company29
6
Name in company30
6
Name in company31
6
Name in company32
6
Name in company33
6
Name in company34
6
Name in company35
6
Name in company36
6
Name in company37
6
Name in company38
6
Name in company39
6
Name in company40
6

In [9]:
for i in names:
    print(i)

 Waa Limited (Myanmar)
 Zest Tang Company Limited
2-Go Packaging Company Limited
3R  Non Woven Manufacture  Company  Limited
A-5 Company Limited (Livestock)
A-5 Company Limited (Manufacturing)
AA Double ACE Construction Material Company Limited
AA QSR Co., Ltd.
Able Better Garment Company Limited
Above & Beyond Company Limited

ACK and CO Services Company Limited
Adachi Global Industries Company Limited
Adani Yangon International Terminal  Company Limited
Adonia Footwear Company limited
adonia footwear company limited
Adventure Myanmar Tours & Incentives Company Limited
AGB Communication Company Limited
Agro Global Co., Ltd
Aida Amazing Company Limited
Air Products (Myanmar) Company Limited
Airport Avenue Company Limied
AIT (Myanmar) Manufacturing Company Limited
Aizawa Myanmar   Company Limited
Alamanda Annapi Myanmar Company Limited
Alland Fashion Limited
Allin Pwint Construction Co., Ltd
Alphavina Construction Company Limited

Alticy Company Limited
Amara Communications Company Limited
Amazing  Holidays Hotels & Resorts Company Limited
Amazing Advanced Transforming & Manufacturing Co., Ltd.
Amazing Advanced Transforming & Manufacturing Company Limited
Amazing Dawei Co., Ltd
Amazing Dawei Company Limited
American International Partners Limited
American Oncology Institute Myanmar Company Limited
Amity (Myanmar) Lingerie Company Limited

An & Brothers Manufacturing Company Limited
Andaman Allliance Healthcare Limited
Angelo Mining Company Limited
Apex Rubber International Company Limited
Apex Union Gas Company Limited (Gas)
Apex Union Gas Company Limited (Infra)
Apple Design Jewellery Company Limited
AqauGold Myanmar Pearl Company Limited
Aqua Pura Company Limited
Aqua Shoes Co., Ltd
Aquamarine Ecotourism Development Company Limited
Areca Collection (Myanmar) Company Limited
Arkar Phyo Company Limited
Arkar Phyo Kyaw Company Limited
ARO Commercial Company Limited
Aryu International Health Care Company Limited
Asahi Fan Garment  (Myanmar) Company Limited

Asdet (Myanmar) Garment Company Limited

Asia  Fashion Company Limited
Asia Caps Company Limited
Asia General Transformer Company Limited
Asia Glory International Company Limited
Asia Hline Kyaw Family Company Limited
Asia King Power Company Limited
Asia King Power Company Limited
Asia Link (Myanmar)  Fashion Company Limited
Asia Rising  Star Travels & Tours Company Limited
Asia Starmar Transport Intelligent Company Limited
Asian Just Company Limited

Au Mit Myanmar Company Limited
Au Temps Des Cerises Co., ltd
Aung Gabar Motor Services Company Limited

Aung Khit San Company Limited
AUNG KYUN THAR Company Limited
Aung Min Han Company Limited

In [4]:
import pandas as pd

In [5]:
data ={'company name':names,'company phone':phones, 'company email':emails, 'company website':websites}
df = pd.DataFrame(data)
df

,company name,company phone,company email,company website
0,Waa Limited (Myanmar),09-4480255573,-,-
1,Zest Tang Company Limited,09785008513,-,-
2,2-Go Packaging Company Limited,"09-425027717, 09-5590559",-,-
3,3R Non Woven Manufacture Company Limited,09-777779662,[email protected],-
4,A-5 Company Limited (Livestock),"09-788683359, 09-5112215, 09-72624518",[email protected],-
...,...,...,...,...
235,Dhui (Myanmar) company limited,09-967805555,-,-
236,Dhui(Myanmar) Company Limited,09-967805555,-,-
237,Diamond Dragon Company Limited,09-42502771709-5504453,-,-
238,Diamond Palace Hotels Company Limited,09-5003994\n09-31137121\n,-,-
239,Diamond Parawood Company Limited ...,"09- 5070884, 09- 785070884",-,-

In [12]:
df.to_csv('webscraping.csv')

In [6]:
df.to_csv('web.csv')